	<div class="footer">
		<small>
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			<!-- <a href="http://onemonthrails.com">One Month Rails</a> -->
			originally by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
			, this version by <%= link_to "Frank C Jones", "http://FrankCJones.com" %>
		</small>
	</div>